<?xml version="1.0" encoding="UTF-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true">
  <!-- 定义全局变量，${basedir}/logs文件夹如果是开发环境，会在bin/debug/.netcore3.1/下面   -->
  <variable name="logDirectory" value="${basedir}/logs" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--  <targets>用来定义输出目标  -->
  <targets>
    <!--  此<target>表示输出到文件的配置      -->
    <target name="logFile" 
            xsi:type="File" 
            fileName="${logDirectory}/app_logs_${shortdate}.log" 
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <!--  此<target>表示输出到console     -->
    <target name="logConsole" xsi:type="Console" />
  </targets>
<!--  rules用来定义日志输出规则  -->
  <rules>
    <!--   表示所有Microsoft开头的日志输出到控制台     -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="logConsole" final="true" />
    <!--   表示所有的日志输出到文件中     -->
    <logger name="*" minlevel="Trace" writeTo="logFile" />
  </rules>
</nlog>
